
$primaryFont: Monospace;
$primaryFontWeight: 300;
$fontSize: 12px;
$lineHeight: 14px;
$fontColor: #000000;
$fontColorLight: #eaeaea;

$timing: .25s;
$easingCubic: cubic-bezier(0.77, 0, 0.175, 1);
$easingRegular: ease-in-out;
$transitionCubic: all $timing $easingCubic;
$transitionRegular: all $timing $easingRegular;

$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;